     body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #e3e3e3);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .signup-box {
      background: #fff;
      padding: 40px 30px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
      width: 100%;
      max-width: 500px;
    }

    .signup-box h2 {
      text-align: center;
      color: #0d47a1;
      margin-bottom: 30px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .form-group input,
    .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }

    .form-group input[type="file"] {
      padding: 5px;
    }

    .signup-btn {
      width: 100%;
      padding: 12px;
      background: #0d47a1;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .signup-btn:hover {
      background: #1565c0;
    }

    .extra {
      text-align: center;
      margin-top: 15px;
    }

    .extra a {
      color: #0d47a1;
      text-decoration: none;
    }

    .extra a:hover {
      text-decoration: underline;
    }


    .login-btn {
      width: 100%;
      background: #0d47a1;
      color: white;
      border: none;
      padding: 12px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .login-btn a{
         text-decoration: none;
    }

    .login-btn:hover {
      background: #1565c0;
    }
